<!-- <body>
  <div class="logoimage">
    <img src="https://itslimetime.ca/wp-content/themes/itslimetimewptheme/assets/img/limelogo.png" alt="">
    <div class="searchbar">
    <input type="text" name="search" placeholder="Search..">
    </div>
  </div>
<link rel="stylesheet" href="/app/assets/stylesheets/application.css">

<div class="store1">
  <h2>Best Buy</h2>
  <img src="https://ss7.vzw.com/is/image/VerizonWireless/beats-solo2-on-ear-headphone-luxe-edition-black-ml9e2am-a-iset?&wid=220&hei=220&$pngalpha$" alt="">
  <img src="http://www.mediaite.com/wp-content/uploads/2014/12/lp_left.jpg" alt="">
  <p>Get directions to best buy and purchase this item</p>
</div>
<div class="store2">
  <h2>Target</h2>
  <img src="https://ss7.vzw.com/is/image/VerizonWireless/beats-solo2-on-ear-headphone-luxe-edition-black-ml9e2am-a-iset?&wid=220&hei=220&$pngalpha$" alt="">
  <p>Get directions to target and purchase this item</p>
</div>
<div class="store3">
  <h2>Walmart</h2>
  <img src="https://ss7.vzw.com/is/image/VerizonWireless/beats-solo2-on-ear-headphone-luxe-edition-black-ml9e2am-a-iset?&wid=220&hei=220&$pngalpha$" alt="">
  <p>Get directions to Walmart and purchase this item</p>
</div> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="application.css">


<div class="header">
  <img src="https://png.icons8.com/office/1600/spotlight">
  <h2>Friends and Family Gallery</h2>
</div>

<div class="container-fluid">
  <div class="row">

   <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="http://images.all-free-download.com/images/graphiclarge/butterfly_flower_01_hd_pictures_166973.jpg" class="thumbnail">
        <p>Flower Power</p>
        <img src="http://images.all-free-download.com/images/graphiclarge/butterfly_flower_01_hd_pictures_166973.jpg" />
      </a>
    </div>

   <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="https://static.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg" class="thumbnail">
        <p>Look! More Flowers!</p>
        <img src="https://static.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg" />
      </a>
    </div>

   <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="https://static.pexels.com/photos/36753/flower-purple-lical-blosso.jpg" class="thumbnail">
        <p>Have some flowers!</p>
        <img src="https://static.pexels.com/photos/36753/flower-purple-lical-blosso.jpg" />
      </a>
    </div>

   <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjxeFLMUmLGEaf6NstxXfwgcwCPCkk_tnBtOuEYZXtlTu7V72P" class="thumbnail">
        <p>This is more flower power</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjxeFLMUmLGEaf6NstxXfwgcwCPCkk_tnBtOuEYZXtlTu7V72P" />
      </a>
    </div>

   <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="http://sandeepbansal.com/wp-content/uploads/2013/04/HudaFlowerShow2013-16-685x260.jpg" class="thumbnail">
        <p>Another Flower</p>
        <img src="http://sandeepbansal.com/wp-content/uploads/2013/04/HudaFlowerShow2013-16-685x260.jpg" />
      </a>
    </div>

   <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiX9Zwzy05ghN7F9ovowRhT-D9aRhz4gcStFFTpzTbLkp8F4V0" class="thumbnail">
        <p>Awesome flower</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiX9Zwzy05ghN7F9ovowRhT-D9aRhz4gcStFFTpzTbLkp8F4V0" />
      </a>
    </div>

   <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRa2Zc6H3bZ1C9UOLW_WFOEecSjz40gt9QRN4YBvelyDWLEWmG" class="thumbnail">
        <p>Flower again</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRa2Zc6H3bZ1C9UOLW_WFOEecSjz40gt9QRN4YBvelyDWLEWmG" />
      </a>
    </div>

   <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="http://dzenna.voxxyz.com/wp-content/uploads/sites/315/2017/02/Flowers.jpg" alt="..." class="thumbnail">
        <p>Super flower</p>
        <img src="http://dzenna.voxxyz.com/wp-content/uploads/sites/315/2017/02/Flowers.jpg" alt="...">
      </a>
    </div>
  </div>
</div>

[12:22]
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
