<body>
  <div class="logoimage">
    <img src="https://itslimetime.ca/wp-content/themes/itslimetimewptheme/assets/img/limelogo.png" alt="">
    <div class="searchbar">
    <input type="text" name="search" placeholder="Search..">
    </div>
  </div>
<link rel="stylesheet" href="/app/assets/stylesheets/application.css">

<!-- <div class="searchbar">
<input type="text" name="search" placeholder="Search..">
</div> -->
<div class="mostsearched">
  <h2>MOST SEARCHED ITEMS</h2>
  <a href="#"><img src="https://target.scene7.com/is/image/Target/16600658?wid=328&hei=328&qlt=80&fmt=pjpeg" alt=""></a>
  <a href="#"><img src="https://target.scene7.com/is/image/Target/16600658?wid=328&hei=328&qlt=80&fmt=pjpeg" alt=""></a>
  <a href="#"><img src="https://target.scene7.com/is/image/Target/16600658?wid=328&hei=328&qlt=80&fmt=pjpeg" alt=""></a>
</div>



<footer></footer>
</body>
