body {
  background-image: url(https://ak2.picdn.net/shutterstock/videos/1406737/thumb/1.jpg);
}

.col-lg-3 {
  margin-top: 2em;
}

.edit_icon {
  padding: 8px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: lightblue;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
  color: black;
}

.edit_icon:hover {
  background-color: #3e8e41
}

.edit_icon:active {
  background-color: #3e8e4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.destroy_icon {
  padding: 8px 12px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: lightblue;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
}

.destroy_icon:hover {
  background-color: #3e8e41
}

.destroy_icon:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.edit {
  margin-top: 7em;
}

.new_post {
  margin-top: 5em;
}

.new_user {
  margin-top: 4em;
}

.posts {
  margin-top: 7em;
}

* {
  text-align: center;
}

.container-fluid {
  margin-top: 7em;
}

a.thumbnail {
  border: 0px;
  background: none;
}

a.thumbnail img {
  width: 250px;
  height: 200px;
  border-radius: 50%;
}
