#indent {
  text-indent: 2.5em;
}

  .posts {
  margin-top: 5em;
  color: white;
  font-size: 20px;
}
.post_button {
	border : solid 0px #638a00;
	border-radius : 20px;
	moz-border-radius : 20px;
	-webkit-box-shadow : 0px 8px 18px rgba(0,0,0,0.8);
	-moz-box-shadow : 0px 8px 18px rgba(0,0,0,0.8);
	box-shadow : 0px 8px 18px rgba(0,0,0,0.8);
	font-size : 20px;
	color : #ffffff;
	padding : 5px 17px;
	background : #96c300;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c300), color-stop(100%,#648c00));
	background : -moz-linear-gradient(top, #96c300 0%, #648c00 100%);
	background : -webkit-linear-gradient(top, #96c300 0%, #648c00 100%);
	background : -o-linear-gradient(top, #96c300 0%, #648c00 100%);
	background : -ms-linear-gradient(top, #96c300 0%, #648c00 100%);
	background : linear-gradient(top, #96c300 0%, #648c00 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c300', endColorstr='#648c00',GradientType=0 );
}

.post_button a {
  color: white;
}

.posts h1 {
  color: white;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border: #solid 10px #000;
  background-color: rgba(105,100,100,0.8);
  width:30%;
  margin-left: auto ;
  margin-right: auto
}

body {
  background-image: url(https://ak2.picdn.net/shutterstock/videos/1406737/thumb/1.jpg);
  padding-bottom: 50px;
}

.col-lg-3 {
  margin-top: 2em;
}

.edit_icon {
  padding: 8px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: lightblue;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
  color: black;
}

.edit_icon:hover {
  background-color: #3e8e41
}

.edit_icon:active {
  background-color: #3e8e4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.destroy_icon {
  padding: 8px 12px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: lightblue;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
}

.destroy_icon:hover {
  background-color: #3e8e41
}

.destroy_icon:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.edit {
  margin-top: 7em;
}

.new_post {
  margin-top: 5em;
}

.new_user {
  margin-top: 4em;
}

* {
  text-align: center;
}

.container-fluid {
  margin-top: 7em;
}

a.thumbnail {
  border: 0px;
  background: none;
}

a.thumbnail img {
  width: 250px;
  height: 200px;
  border-radius: 50%;
}

.circ {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
